## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## WinUI / MSIX
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.msix
*.cer

## Rider / VSCode
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
